.hand1 {
  margin: 0 auto;
  margin-top: 50px;
  width: 50px;
  height: 50px;
  content:url("https://i.imgur.com/MzqxIK4.png");
}
.hand2 {
  margin: 0 auto;
  margin-top: 50px;
  width: 50px;
  height: 50px;
  content:url("https://i.imgur.com/C6EXmSl.png");
}
.hand3 {
  margin: 0 auto;
  margin-top: 50px;
  width: 50px;
  height: 50px;
  content:url("https://i.imgur.com/o1OlWwm.png");
}
.foot1 {
  margin: 0 auto;
  margin-top: 50px;
  width: 50px;
  height: 50px;
  content:url("https://i.imgur.com/CmtJTtQ.png");
}

.content img {
  width: 50px;
  height: 50px;
}
