/*// Code inspired by
// https://codepen.io/dlouise/pen/NPZMjo
// Dana Iti*/

.content {
  display: flex;
  flex-direction: row;
  height: 100%;

}
.heading{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.heading img {
  height: 50px;
  width: 50px;
}
.heading img:hover {
  cursor: pointer;
}
.grid {
  flex: 5;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGUlEQVQYV2NkIBIwEqmOYVQh3pAiNnj+AwALaAEKfsPrZgAAAABJRU5ErkJggg==);
  background-position: 18px 11px;
  height: 80vh;


}
.sidebar{
  flex: 1;
  color: green;
  background: black;

}
.sidebar img {
  height: 50px;
  width: 50px;

}
.sidebar img:hover {
  cursor: pointer;
}

.heading {
  background: black;
  color: green;
  margin: 0;
  padding: 20px 10px;

}

#page{
  display: flex;
  flex-direction: column;
}


.text {
  margin-top: 0;
  color: #fff;
  text-align: center;
  font-size: 28px;
  letter-spacing: 1px;
}

.opac {
  opacity: .8;
}

.move-cursor {
  cursor: move;
}

.grab-cursor {
  cursor: grab;
  cursor: -webkit-grab;
}
.delete-cursor{
  cursor: no-drop;
}
