body{
  height: 100%;
  width: 100%;
}
h1 {
  padding-left: 10px;
  font-size: 28px
}
h2 {
  padding-left: 10px;
  font-size: 20px
}
.content {
  color: white;
  display: flex;
  flex-direction: row;
  height: 89vh;
  flex: 9;

}
.heading{
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
}
.heading img {
  height: 50px;
  width: 50px;
}
.heading img:hover {
  cursor: pointer;
}
.grid {
  /*// Code inspired by
  // https://codepen.io/dlouise/pen/NPZMjo
  // Dana Iti*/
  flex: 5;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGUlEQVQYV2NkIBIwEqmOYVQh3pAiNnj+AwALaAEKfsPrZgAAAABJRU5ErkJggg==);
  background-position: 18px 11px;



}
.sidebar{

  flex: 1;
  background: black;

}
.sidebar img {
  text-align: center;
  height: 50px;
  width: 50px;

}
.sidebar img:hover {
  cursor: pointer;
}

.heading {
  background: black;

  margin: 0;
  padding: 20px 10px;

}

#page{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}


.text {
  margin-top: 0;
  color: #fff;
  text-align: center;
  font-size: 28px;
  letter-spacing: 1px;
}

.opac {
  opacity: .8;
}

.move-cursor {
  cursor: move;
}

.grab-cursor {
  cursor: grab;
  cursor: -webkit-grab;
}
.delete-cursor{
  cursor: no-drop;
}
